// Desktop
.header{
&__inner{
    .header-menu{
        ul{
            width: 80%;
        }
    }
}
}

main{
    .aboutMe{
        &__inner{
            flex-direction: row;

            .intro-part{
                width: 50%;

                .intro-sentence{
                    font-size: 1.7em;
                }
            }

            .pic{
                width: 60%;
                margin-top: 10em;
                .rectangle{
                    height: 25rem;
                    width: 48%;
                    top: -65px;
                }
            }
        }
    }
}
