// Tablet
.header{
    &__inner{
        .logo{
            &__img{
                width: 10%;
            }
        }

        .header-menu{
            display: block;
            width: 60%;
            ul{
                width: 100%;
                display: flex;
                justify-content: space-around;
                padding: 0;
                ;
                li > a{
                    font-size: 1.2rem;
                    font-weight: 600;
                }
            }
        }
    }

    .mobile-menu__btn{
        display: none;
    }
}

h2{
    font-size: 60px;
}

main{
    .aboveTheFold{
        &__inner{
            flex-direction: row;
            .phrase{
                font-size: 3.5rem;
            }
        }
    }

    .aboutMe{
        &__inner{
            .intro-part{
                .intro-sentence{
                    font-size: 1.7em;
                }
            }

            .pic{

                img{
                    width: 50%;
                    top: -40px;
                    left: 7em;
                }
                margin-top: 6em;
                .rectangle{
                    height: 20rem;
                    width: 45%;
                    top: -61px;
                    left: 64px;
                }
            }
        }
    }

    .skills{
        &__contents{
            flex-direction: row;
            gap: 1em;
            .skill-box{
                width: auto;
            }
        }
    }

    .projects{
        &__inner{
            .project__card-container{
                .card{
                    .project-image{
                        img{
                            width: 70%;
                        }
                    }
                    .project-lang{
                        .lang-box{
                            font-size: 2rem;
                        }
                    }

                    .project-description{
                        h4{
                            font-size: 2.5rem;
                        }
                    }

                    .project-links{
                        .btn{
                            font-size: 2em;
                        }
                    }
                }
            }
        }
    }

    .qualification{
        &__inner{
            .education-detail{
                h3{
                    font-size: 1.6em;
                }

                span{
                    font-size: 2rem;
                }

                .duration{
                    font-size: 1.2em;
                }
            }
        }
    }

    .contact{
        &__inner{
            .email{
                font-size: 1.5em;

                span{
                    font-size: 1.1em;
                }
            }

            .contact-links{
                span{
                    font-size: 1.2em;
                }
            }
        }
    }
}
