// Tablet
.header{
    &__inner{
        .logo{
            &__img{
                width: 10%;
            }
        }

        .header-menu{
            display: block;
            width: 60%;
            ul{
                width: 100%;
                display: flex;
                justify-content: space-around;
                padding: 0;
                ;
                li > a{
                    font-size: 1.7rem;
                    font-weight: 600;
                }
            }
        }
    }

    .mobile-menu__btn{
        display: none;
    }
}

h2{
    font-size: 60px;
}

main{
    .aboveTheFold{
        &__inner{
            flex-direction: row;
            .phrase{
                font-size: 4rem;
            }
        }
    }

    .aboutMe{
        &__inner{
            flex-direction: row;

            .intro-part{
                width: 50%;

                .intro-sentence{
                    font-size: 1.7em;
                }
            }

            .pic{
                width: 50%;

                .rectangle{
                    height: 24rem;
                    width: 56%;
                }

                // img{
                //     width: 85%;
                //     top: 80px;
                //     left: 0em;
                // }
            }
        }
    }
}
