// Base Style

body{
    font-family: 'Alumni Sans', sans-serif;
}

img{
    max-width: 100%;
    vertical-align: bottom;
}

//Centered
.content-width{
    width: 90%;
    margin: 0 auto;
    max-width: $contentMaxWidth;
}

.font-intro-bg{
    font-size: 68px;
}

.font-intro-sm{
    font-size: 32px;
}

.font-heading-desktop{
    font-size: 60px;
}
.font-heading-mobile{
    font-size: 48px;
}

.font-bg{
    font-size: 20px;
}

.font-sm{
    font-size: 12px;
}

.font-email{
    font-size: 24px;
}
