.card{
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 1em;
    margin-bottom: 32px;

    h3{
        font-size: 2.5rem;
        margin: 16px 0px;
    }

    .project-image{
        width: 80%;
        margin: 0 auto;
        margin-bottom: 2em;
    }

    .project-lang{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 1em;
        margin: 0 auto;
        width: 92%;

        .lang-box{
            border: 1px solid;
            padding: .1em .4em;
            border-radius: 5px;
            font-size: 1.5em;
        }
    }

    .project-description{
        h4{
            font-size: 1.3rem;
        }
    }

    .project-links{
        display: flex;
        justify-content: center;
        margin: 0 auto;
        column-gap: 1em;
        .btn{
            background-color: $cProjectBtnBg;
            font-size: 1.5em;
            border-color: $cProjectBtnBg;
        }
    }
}
