$contentMaxWidth: 1100px;

$cHeadline: #FFFFFE;
$cHighlight: #FF8906;
$cHeading: #F25F4C;
$cHeaderBg: #535353;
$cButtonBg: #93A8A9;
$cBgLightPattern1: #FBFBF1;
$cBgLightPattern2: #FDF5DF;
$cBgLightTop: #0f0e17;
$cBgDarkPattern1: #363537;
$cBgDarkPattern2: #4C4B4D;
$cParagraphDark: #A7A9BE;
